.header {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
}

.button {
  
  background-color: transparent;
}
/* .layout {
  background-image: url('../images/thanaptosis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */


/* .navbar {
  
} */

.headerTitle {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;

  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--black);
  font-size: 28px;
}

.header a:focus, 
.header a:hover {
  /* background: var(--white); */
  background-color: transparent;
  color: var(--black);
}

.content {
  margin: 3rem auto;
  max-width: 54ch;
  color: var(--white);
}